p{
    background-color: rgb(91, 226, 91);
    font-size: 24px;
}

.conteiner{
    display: inline-block;
    text-align:center;
    background-color: rgb(187, 164, 164);
}
.main {
    text-align: center;
}


